.logo{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 32px;
}
a{
    all: unset;
}
.navContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    box-sizing: border-box;
    height: 8vh;
    align-items: center;
    padding: 0px 20px;
    background-color: #9db496;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
} 
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.rightOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.item{
    color: #000;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Quicksan', sans-serif;
}
.item:hover{
    cursor: pointer;
}
.navContainer:hover .item:not(:hover){
    color: rgb(48, 48, 48);
}
.counter{
    background-color: #d2691e;
    color: #fff;
    padding: 4px 8px;
    border-radius: 50%;
    margin: 0;
}
.login-button{
    background-color: #ffd814;
    color: #000;
    padding: 8px 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 720px){
    .item{
        display: none;
    }
}